@(restaurants: List[models.Restaurant])

@import helper._

@scripts = {
    <script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.dataTables.min.js"))' ></script>
    <script type="text/javascript" src='@routes.Assets.at("libs/dataTables/js/DT_bootstrap.js")'></script>

    @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url,
        module = routes.Assets.at("/javascripts/admin/restaurant.list").url)
}

@stylesheets = {
    <link rel="stylesheet"  href='@routes.Assets.at("libs/dataTables/css/DT_bootstrap.css")'>
}

@main(Messages("restaurant.list"), scripts, stylesheets) {
    <h1>@Messages("restaurant.list")</h1>

    <div class="row">
        <table id="restaurantTable" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>@Messages("name")</th>
                    <th>@Messages("actions")</th>
                </tr>
            </thead>
            <tbody>
            @for( restaurant <- restaurants){
                <tr id="@restaurant.name">
                    <td>@restaurant.name</td>
                    <td>
                        @form(controllers.admin.routes.Restaurants.remove(restaurant.id), 'class -> "confirm-delete") {
                        <a href="@controllers.admin.routes.Restaurants.edit(restaurant.id)"
                           class="btn btn-primary btn-sm update"
                           title='@Messages("restaurant.edit") @restaurant.name'>
                            <i class="icon-pencil icon-white"></i>
                        </a>
                        <button type="submit" class="btn btn-danger btn-sm delete" title='@Messages("restaurant.delete") @restaurant.name'>
                            <i class="icon-trash icon-white"></i>
                        </button>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    <div class="row">
        <a href="@controllers.admin.routes.Restaurants.create()"
           class="btn btn-primary btn-lg btn-block create" title='@Messages("restaurant.add.new")'>
            <i class="icon-plus icon-white"></i> @Messages("restaurant.add.new")
        </a>
    </div>
}