@(restaurant: models.Restaurant)

@import helper._
@import views.html.helper._

@main("Restaurant : " + restaurant.name) {
    <h1>Restaurant - @restaurant.name</h1>

    <dl class="row dl-horizontal">
        <dt>@Messages("name")</dt>
        <dd class="clearfix">@restaurant.name</dd>
        <dt>@Messages("webSite")</dt>
        <dd class="clearfix">@display(restaurant.webSite)</dd>

        <dt>@Messages("creditCard")</dt>
        <dd class="clearfix">@display(restaurant.isCreditCardAccepted)</dd>
        <dt>@Messages("restaurantTicket")</dt>
        <dd class="clearfix">@display(restaurant.isRestaurantTicketAccepted)</dd>
        <dt>@Messages("delivery")</dt>
        <dd class="clearfix">@display(restaurant.isDeliveryPossible)</dd>
        <dt>@Messages("takeaway")</dt>
        <dd class="clearfix">@display(restaurant.isTakeaway)</dd>
        <dt>@Messages("onlineBooking")</dt>
        <dd class="clearfix">@display(restaurant.isOnlineBooking)</dd>
        <dt>@Messages("prayerRoom")</dt>
        <dd class="clearfix">@display(restaurant.isPrayerRoom)</dd>
        <dt>@Messages("establishmentCertified")</dt>
        <dd class="clearfix">@display(restaurant.isEstablishmentCertified)</dd>
        <dt>@Messages("amenagmentHandicapped")</dt>
        <dd class="clearfix">@display(restaurant.isAmenagmentHandicapped)</dd>

        <dt>@Messages("description")</dt>
        <dd class="clearfix">@display(restaurant.description)</dd>

        <dt>@Messages("address")</dt>
        <dd class="clearfix">@display(restaurant.address)</dd>
        <dt>@Messages("city")</dt>
        <dd class="clearfix">@display(restaurant.city)</dd>
    </dl>

    <div class="actions">
        <a href="@controllers.admin.routes.Restaurants.list()" class="btn btn-warning">@Messages("cancel")</a>
    </div>

}