<div class="alert-zone">

    @if(flash.get("error")!=null) {
        <div class="alert alert-error">
            <a class="close" data-dismiss="alert">×</a>
            <strong>@flash.get("error")</strong>
        </div>
    }

    @if(flash.get("warn")!=null) {
        <div class="alert">
            <a class="close" data-dismiss="alert">×</a>
            <strong>@flash.get("warn")</strong>
        </div>
    }

    @if(flash.get("success")!=null) {
        <div class="alert alert-success">
            <a class="close" data-dismiss="alert">×</a>
            <strong>@flash.get("success")</strong>
        </div>
    }

</div>
