@(title: String, scripts: Html = Html(""), stylesheets: Html = Html(""))(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>

        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")' />
        <link rel="stylesheet" media="screen" href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))' />
        <link rel="stylesheet" media="screen" href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap-responsive.css"))' />
        <link rel="stylesheet"  href='@routes.WebJarAssets.at(WebJarAssets.locate("font-awesome.min.css"))' >
        @stylesheets

        <script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script type="text/javascript" src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
        <script type="text/javascript" src='@routes.Assets.at("libs/bootbox/bootbox.min.js")'></script>
        <script type="text/javascript" src="@routes.Application.jsMessages()"></script>
        <script type="text/javascript" src='@routes.Assets.at("javascripts/main.js")'></script>
        @scripts
    </head>
    <body>
        <div id="wrap">
            @navbar()
            <div class="container">
                @content
            </div>
        </div>
        @footer()
    </body>
</html>
